# Specifies which files should be ignored by our git repository

*.obj
*.o

/build
build_windows/

compile_commands.json

data

.cache
benchmark_results/
main_results/
results/

out.txt
err.txt

*.vim

node_modules
package-lock.json
package.json

tmp/
gmon*
