[MAIN]

ignore=.ycm_extra_conf.py

recursive=yes

ignore-paths=
  build/,
  documentation,

jobs=15

disable=
  invalid-name,
  missing-function-docstring,
  missing-class-docstring,
  too-few-public-methods,
  redefined-outer-name,
  attribute-defined-outside-init,
  too-many-instance-attributes,
  too-many-arguments,
